/* style general */
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgba(243, 243, 243, 0.404);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-principal{
    min-height: 800px;
    width: 90%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 65px;
}
.recherche{
    opacity: 1!important;
    transform: translate(0)!important;
}
/* le container des article dans le panier */
#container-principal .left{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
/* case a coche generale */
#container-principal .left .Allarticles{
    display: flex;
    height: 35px;
    width: 95%;
    border-radius: 7px;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgba(70, 70, 70, 0.223);
    margin-top: 15px;
    background-color: white;
}
#container-principal .left .Allarticles #allchecbox{
    transform: scale(1.5);
    border: 1px solid black;
}
/* les articles dans le panier */
#container-principal .left .articles{
    min-height: 170px;
    width: 95%;
    box-shadow: 0px 0px 10px 2px rgba(70, 70, 70, 0.171);
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    /* border: 1px solid rgba(0, 0, 0, 0.184); */
}
#container-principal .left .articles .check-title{
    height: 25%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
#container-principal .left .articles .check-title .titr-icon{
    display: flex;
    align-items: center;
    gap: 2px;
}

#container-principal .left .articles .check-title img{
    height: 20px;
}
#container-principal .left .articles .check-title input{
    transform: scale(1.5);
}
/* image et description */
#container-principal .left .articles .img-description{
    height: 75%;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#container-principal .left .articles .img-description .img{
    /* border: 1px solid rgba(0, 0, 0, 0); */
    height: 100%;
    width: 110px;
    border-radius: 0 0 0 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/Casqueaudio.jpg);
}
#container-principal .left .articles .img-description .description{
    height: 100%;
    width: calc(100% - 110px);
    border-radius: 0 0 10px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#container-principal .left .articles .img-description .description .top{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
#container-principal .left .articles .img-description .description .top p{
    white-space: nowrap;         
    overflow: hidden;             
    text-overflow: ellipsis;     
    width: 100%;  
    font-size: .9rem;
    position: absolute;
    font-weight: 500;
}
#container-principal .left .articles .img-description .description .top .modifier{
    background-color: rgb(224, 225, 255);
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 1px;
    transition: .5s;
    cursor: pointer;
    font-size: .7rem;
    height: 20px;
    box-sizing: border-box;
    /* padding-bottom: 3px; */
    margin-top: 25px;
}
#container-principal .left .articles .img-description .description .top .modifier:hover{
    background-color: rgb(221, 221, 221);
    
}
#container-principal .left .articles .img-description .description .botom{
    /* background-color: rgb(0, 47, 255); */
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
}
#Q-delete{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
#prix span{
    color: rgb(255, 98, 0);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
/* Qty */
#Q{
    height: 25px;
    width: 90px;
    border-radius: 10px;
    display: flex;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.366);
    outline: none;
    box-sizing: border-box;
    padding-left: 10px;
}
/* delete */
#delete{
    height: 30px;
    width: 30px;
    background-color: rgb(237, 237, 237);
    border-radius: 50%;
    transition: .4s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../icon/icons8-supprimer-100.png);
}
#delete:hover{
    background-color: rgb(216, 216, 216);
    
}

/* resume de la commende */

#container-principal .rigth{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#resume{
    height: 480px;
    width: 90%;
    max-width: 450px;
    /* background-color: red; */
    box-shadow: 0px 0px 10px 2px rgba(70, 70, 70, 0.223);
    position: sticky;
    top: 70px;
    overflow: hidden;
    border-radius: 10px;
}
#resume .resume{
    background-color: rgb(255, 255, 255);
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
#resume .resume .imgs{
    height: 90px;
    /* background-color: red; */
    display: flex;
    overflow: scroll;
    align-items: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}
#resume .resume .imgs::-webkit-scrollbar{
    display: none;
}
#resume .resume .imgs .item{
    /* background-color: blue; */
    box-shadow: 0px 0px 10px 2px rgba(70, 70, 70, 0.1);
    height: 95%;
    min-width: 75px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/airpode.png);
}
#resume .resume .detail{
    /* background-color: blueviolet; */
    height: 100px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 2px;
    padding: 3px;
    box-sizing: border-box;
}
#resume .resume .detail .item{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#resume .resume .detail .item span{
    font-size: .8rem;
    font-weight: 600;
}
#resume .resume .detail .item .prix{
    color: rgb(255, 98, 0);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#resume .resume .total-caiss .total .prix{
    color: rgb(255, 98, 0);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.3rem;
}
#resume .resume .total-caiss{
    /* background-color: rgb(183, 0, 255); */
    height: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.31);
}
#resume .resume .total-caiss .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}
#resume .resume .total-caiss .total #prixtotal{
    /* background-color: red; */
    padding: 2px;
    box-sizing: border-box;
    min-width:150px ;
    display: flex;
    justify-content: end;
}
#resume .resume .total-caiss .total span{
    font-weight: 700;
}
#resume .total-caiss .caisse{
    background-color: rgb(0, 27, 76);
    border-radius: 5px;
    height: 60px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    transition: .3s;
}
#resume .total-caiss .caisse:hover{
    background-color: rgba(0, 27, 76, 0.693);
}
#resume .payement{
    /* background-color: rgb(4, 255, 0); */
    height: calc(100% - 355px);
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.286);
}
#resume .payement .logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    height: 90%;
    width: 100%;
}
#resume .payement .logos .item{
    /* background-color: rgb(0, 21, 255); */
    border-radius: 5px;
    height: 70%;
    width: 23%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .8;
}
#resume .payement .logos .item:nth-child(1){
    background-image: url(../panier/payementImg/visa.jpeg);
}
#resume .payement .logos .item:nth-child(2){
    background-image: url(../panier/payementImg/moov.png);
}
#resume .payement .logos .item:nth-child(3){
    background-image: url(../panier/payementImg/orang.jpg);
}
#resume .payement .logos .item:nth-child(4){
    background-image: url(../panier/payementImg/ligdi.png);
    background-color: rgba(191, 255, 0, 0.422);
}

/* responsive */

@media(max-width:1150px){
}
@media(max-width:900px){
    #container-principal{
        grid-template-columns: 1fr;
        padding-bottom: 60px;
        width: 100%;
    }
}
@media(max-width:850px){
    
}
@media(max-width:700px){
    #container-principal .left .articles{
        min-height: 140px;
    }
    #container-principal .left .articles .check-title{
        font-size: .8rem;
    }
    
    #container-principal .left .articles .check-title img{
        height: 17px;
    }
    #container-principal .left .articles .check-title input{
        transform: scale(1.2);
    }

    #container-principal .left .articles .img-description .description{
        height: 100%;
        width: calc(100% - 110px);
        border-radius: 0 0 10px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    #container-principal .left .articles .img-description .description .top{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    #container-principal .left .articles .img-description .description .top p{ 
        font-size: .8rem;
    }
    #container-principal .left .articles .img-description .description .top .modifier{
        width: 70px;
        font-size: .73rem;
    }
    #Q-delete{
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
    }
    #prix span{
        font-size: .8rem;
    }
    /* Qty */
    #Q{
        height: 20px;
        width: 75px;
    }
    /* delete */
    #delete{
        height: 26px;
        width: 26px;
    }
    #container-principal{
        margin-top: 40px;
    }
    #resume{
        max-width: 350px;
    }
    #resume .total-caiss .caisse{
        font-size: 1rem;
    }
    #resume .resume .total-caiss .total .prix{
        font-size: 1.1rem;
    }
}   


@media(max-width:345px){
    #resume{
        max-width: 300px;
    }
    #resume .payement .logos .item{
    height: 60%;
    width: 23%;
}
}